<?php

$artikels =	array(
					array(	'title'	=> 'Titel artikel 1',
							'body' 	=> 'Body artikel 1',
							'tags' 	=> 'Kernwoorden artikel 1',
					),
					array(	'title'	=> 'Titel artikel 2',
							'body' 	=> 'Body artikel 2',
							'tags' 	=> 'Kernwoorden artikel 2',
					),
					array(	'title'	=> 'Titel artikel 3',
							'body' 	=> 'Body artikel 3',
							'tags' 	=> 'Kernwoorden artikel 3',
					)
				);
?>

<!doctype html>
<html>
<head>
		<meta charset="utf-8">
		<title> Oef include-require</title>
		<style>
			article	{
				padding:20px;
				margin-left:40px;
				margin-top: 0px;
				background-color: blue;
				width: 200px;
				display:inline-block;
				height:200px;

			}

			footer	{
				padding:auto;
				display:inline-block;
				background-color: red;
				clear: left;

			}
				
			ul	{

				list-style-type: none;
				float:right;
			}
		</style>
</head>

<body>
	<nav>
	<ul>
		<li><a href="#">Nieuws</a></li>
        <li><a href="#">Onze Redactie</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
	</nav>
	 <section>
                            <h1>Nieuws</h1>
                  
                       
                        
                            <article>
                                <h1>PHP 8.4 gereleased</h1>
                                <p>De nieuwste versie van PHP bevat uitbreidingen op oa. mind control-facades, in-browser 3d projecties en de API voor drones.</p>
                                <p>Kernwoorden: new, PHP 8.4</p>
                            </article>
                     
                     
                    
                    <footer>
                        Daily PHP is een blog over PHP. 
                    </footer>

</body>

</html>
